<!DOCTYPE html>
<html>
<head>
	<mata charset="utf-8">
	<title>网站配置</title>
	<hdjs/><bootstrap/>
</head>
<body>
	<div class="wrap">
		<div class="title-header">站点配置</div>
		<form class="hd-form" method="post" onsubmit="return hd_submit(this, '{|U:'config'}')">
			<table class="table1">
				<list from='$config' name='c'>
					<tr>
						<th class="w200">{$c.title}</th>
						<td class="w400">{$c.html}</td>
						<td>{ $hd.config.{$c.name} }</td>
					</tr>
				</list>
			</table>
			<div class="position-bottom">
				<input class="btn hd-success" type="submit" value="提交">
			</div>
		</form>
	</div>
</body>
</html>