<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>后台首页</title>
<jquery>
<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/public.css">
<link rel="stylesheet" href="__PUBLIC__/css/index.css">
<base target="iframe">
</head>
<body>
	<div id="top">
		<div class="menu">
			<a href="javascript:void(0)" id="catch"></a>
		</div>
		<div class="exit">
			<a href="javascript:void(0)">{$hd.session.username}</a>
			<a href="{|U:'Login/out'}" target="_self">退出</a>
		</div>
	</div>
	<div id="left">
		<dl>
			<dt>栏目管理</dt>
			<dd><a href="{|U:'Category/index'}">栏目列表</a></dd>
			<dd><a href="{|U:'Category/add'}">添加顶级栏目</a></dd>
		</dl>
		<dl>
			<dt>文章管理</dt>
			<dd><a href="{|U:'Article/index'}">文章列表</a></dd>
			<dd><a href="{|U:'Article/add'}">添加文章</a></dd>
			<dd><a href="{|U:'Article/banbox'}">回收站</a></dd>
		</dl>
		<dl>
			<dt>系统设置</dt>
			<dd><a href="{|U:'db'}">数据库配置</a></dd>
			<dd><a href="{|U:'code'}">验证码配置</a></dd>
			<!-- <dd><a href="{|U:'config'}">默认配置</a></dd> -->
			<dd><a href="{|U:'editor'}">编辑器配置</a></dd>
		</dl>
	</div>
	<div id="right">
		<iframe name="iframe" src="{|U:'info'}"></iframe>
	</div>
</body>
</html>