<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>编辑栏目</title>
	<hdjs><bootstrap>
</head>
<body>
	<div class="wrap">
		<div class="menu_list">
			<ul>
				<li><a href="{|U:'index'}"> 栏目列表 </a></li>
				<li><a href="javascript:void(0);" class="action"> 编辑栏目 </a></li>
				<li><a href="javascript:update_cache();"> 更新栏目缓存 </a></li>
			</ul>
		</div>
		<div class="title-header">编辑栏目</div>
		<form class="hd-form" method="post" onsubmit="return hd_submit(this, '{|U:'edit'}')">
			<table class="table1">
				<tr>
					<td class="w100">栏目名称</td>
					<td>
						<input class="w400" type="text" name="cname" value="{$field.cname}" autocomplete="off">
						<span id="hd_cname"></span>
					</td>
				</tr>
				<tr>
					<td class="w100">父级栏目</td>
					<td>
						<select name="pid">
							<option value="0">顶级栏目</option>
							<list from='$cate' name='c'>
								<option value="{$c.cid}"{$c.selected}{$c.disabled}>{$c._name}</option>
							</list>
						</select><span class="message">灰色不可选</span>
					</td>
				</tr>
				<tr>
					<td class="w100">栏目关键词</td>
					<td>
						<input class="w400" type="text" name="keywords" value="{$field.keywords}" autocomplete="off">
						<span id="hd_keywords"></span>
					</td>
				</tr>
				<tr>
					<td class="w100">栏目描述</td>
					<td>
						<textarea class="w400 h100" name="description">{$field.keywords}</textarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="hidden" name="cid" value="{$hd.get.cid}">
						<input class="btn btn-primary" type="submit" value="提交">
					</td>
				</tr>
			</table>
		</form>
	</div>
	<script type="text/javascript">
		$(function() {
			$('form').validate({
				cname: {
					rule: {
						required: true
					},
					error: {
						required: '栏目名称不能留空'
					},
					message: '请输入栏目名称'
				},
				keywords: {
					rule: {
						required: true
					},
					error: {
						required: '栏目关键词不能留空'
					},
					message: '请输入栏目关键词'
				},
				description: {
					rule: {
						required: true
					},
					error: {
						required: '栏目描述不能留空'
					},
					message: '请输入栏目描述'
				}
			});
			$('option[disabled="disabled"]').css('background', '#dcdcdc')
		})
	</script>
</body>
</html>