<include file='__PUBLIC__/common/header.html'/>
	<!-- 主体左侧开始 -->
		<div class="main-left">
			<list from='$artlist' name='l'>
			<dl>
				<dt>{$l.cname}</dt>
				<dd class="channel">{$l.title}</dd>
				<dd class="info">
					<span class="time">发布于：{$l.time|hd_date:'Y年m月d日 H:i:s'}</span>
					<span class="click">点击：{$l.click}</span>
				</dd>
				<dd class="content">对象的产生与生命周期</dd>
				<dd class="read">
					<a href="{|U:'artview', array('aid' => $l['aid'])}">阅读全文>></a>
				</dd>
			</dl>
			</list>
		</div>
<!-- 主体左侧结束 -->
<include file='__PUBLIC__/common/sidebar.html'/>
<include file='__PUBLIC__/common/footer.html'/>