<include file='__PUBLIC__/common/header.html'/>
	<!-- 主体左侧开始 -->
		<div class="main-left">
			<p>首页推荐</p>
			<list from='$list' name='c'>
			<dl>
				<dt>{$c.cname}<a href="{|U:'artlist', array('cid' => $c['cid'])}">更多>></a></dt>
				<list from='$c.art' name='a'>
				<dd>
					<a href="{|U:'artview', array('aid' => $a['aid'])}">{$a.title}</a>
					<span>{$a.addtime|hd_date:'m/d'}</span>
				</dd>
				</list>
			</dl>
			</list>
		</div>
	<!-- 主体左侧结束 -->
<include file='__PUBLIC__/common/sidebar.html'/>
<include file='__PUBLIC__/common/footer.html'/>